html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
}

/* Right-side vertical button group */
#locationButtons {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 50%;          /* leave space for bottom buttons */
  width: 17%;
  height: 100%;
  max-width: 300px;          /* choose width */
  display: flex;
  flex-direction: column;
  z-index: 5
}

#locationButtons > button {
  flex: 1;
  width: 100%;
  font-size: clamp(1.5rem, 1.5vw, 2.5rem);
}

#curLocLabel {
  position: absolute;
  top: 0;
  right: 0;
  height: 352px;
  width: 17%;
  max-width: 300px;          /* choose width */
  z-index: 5;
  text-align: center;
  align-content: center;
  font-size: clamp(1.7rem, 1.7vw, 2.7rem);
  background-color: #F5C827;
}

#myLocBtn {
  background-color: brown; 
  color: white;
}

.prevPassBtn
{
  background-color: blue; 
  color: white;
}

.nextPassBtn
{
  background-color: darkgreen; 
  color: white;
}

/* Bottom horizontal button group */
#timeButtons {
  position: absolute;
  left: 17%;
  right: 0;
  bottom: 0;
  height: 10%;          /* choose height */
  display: flex;
  flex-direction: row;
  z-index: 5
}

#timeButtons > * {
  flex: 1;               /* all buttons same width */
  height: 100%;
  font-size: clamp(1.2rem, 1.2vw, 2rem);
}

#issTracker {
    position: absolute;
    top: 0;
  left: 50%;
  transform: translate(-50%, 0); /* Adjusts for the child's own dimensions */
    z-index: 4;
}

@media (min-aspect-ratio: 1/1) or (orientation: landscape) {
  .mosaic {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    grid-template-rows: 1fr 1fr;    /* 2 rows */
    width: 100%;
    height: 100%;
  }
}

@media (max-aspect-ratio: 1/1) or (orientation: portrait) {
  .mosaic {
    display: grid;
    grid-template-columns: 1fr; /* 1 columns */
    grid-template-rows: 1fr 1fr 1fr 1fr;    /* 4 rows */
    width: 100%;
    height: 100%;
  }
}

.mosaic .tile {
    position: relative;
    width: 100%;
    height: 100%;
}
